<div>
    <div id="baner-blog"></div>
    <div id="posts" >
        <div class="container">
            <article class='singlePost'>
                <h3><a href="#">This is my first blog</a></h3>
                <p>13 april 2016|Yaroslav Golopapa|University life</p>
                <img src="/images/img1.jpg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, explicabo. Architecto accusantium non
                    aliquam debitis? Dolorem, repellendus corrupti possimus assumenda esse, soluta omnis inventore quos qui?
                    Sint eligendi sequi doloremque.</p>
                <a href="#">lear moere</a>
            </article>
            <article class='singlePost'>
                <h3>This is my first blog</h3>
                <p>13 april 2016|Yaroslav Golopapa|University life</p>
                <img src="/images/img1.jpg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, explicabo. Architecto accusantium non
                    aliquam debitis? Dolorem, repellendus corrupti possimus assumenda esse, soluta omnis inventore quos qui?
                    Sint eligendi sequi doloremque.</p>
                <a href="#">lear moere</a>
            </article>
            <article class='singlePost'>
                <h3>This is my first blog</h3>
                <p>13 april 2016|Yaroslav Golopapa|University life</p>
                <img src="/images/img1.jpg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, explicabo. Architecto accusantium non
                    aliquam debitis? Dolorem, repellendus corrupti possimus assumenda esse, soluta omnis inventore quos qui?
                    Sint eligendi sequi doloremque.</p>
                <a href="#">lear moere</a>
            </article>
        </div>
    </div>
</div>