<div id="baner">
    <div class="container">
        <div class="text-sizer">
            <h4>Welcome to my long trip</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste error totam soluta, sapiente provident deserunt temporibus consectetur ipsa porro neque cupiditate fugiat pariatur laboriosam a quisquam illum voluptatibus ea repellendus.</p>
        </div>
    </div>

    <div class="more"><a id="more" href="#">Узнать больше</a></div>
</div>
<div id="about"><div class="container">
    <div class="row">
        <div class="col-md-6 "> <p class="upper text-center name">Yaroslav Golopapa</p><img class='about' src="/images/about.jpg" alt=""><blockquote>
            <p>Искать себя и свою жизнь нужно своим разумом, не стоит обращать внимания на препятсвия, слова зависти и ненависти.</p>
            <footer>Закинул уже свои мысли в разделе <cite title="Source Title">мысли</cite></footer>
        </blockquote>
        </div>
        <div class="col-md-6"><p class='headingtxt'>Обо мне</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nihil sunt iste, facere officiis, nesciunt consequatur accusantium sapiente magni optio. Odio soluta officiis, natus expedita dolore sapiente, voluptate aut quidem. </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, fuga labore odit in eveniet aspernatur, illo accusantium animi totam veritatis, autem placeat tempora temporibus iusto repudiandae dolor. Tenetur, quo sequi.</p><p>Весь смысл проделаных мною работ над этим проектом, были для того, чтобы вспомнить свои навыки в верстке сайтой. Я хочу развиваться в этой области, это очень интересно и приносит не маленький доход!</p></div>
    </div>
</div></div>

<photostory></photostory>

<div id='story'>
    <div class="backpattern"></div>
    <div class="container">

        <p class='headingtxt '>Совершено не обо мне!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium magnam dolores voluptatum architecto hic, nam repellendus veniam facere magni ipsum totam eum, mollitia vitae ipsa. Ea soluta laborum, officia!</p>
        <hr>
        <p class='author'>Jhon Snow</p>
    </div>
</div>
<div id="gotoblog">
    <div class="container-fluid"><a href="/blog">START THE BLOG</a></div>
</div>